# Виртуальное окружение
.venv/
venv/
env/

# Python кэш и байт-код
__pycache__/
*.pyc

# База данных и логи (ВАЖНО)
*.db
*.log

# Файлы настроек IDE (если пользуешься VS Code или PyCharm)
.vscode/
.idea/

# Папки сборки (если будешь собирать exe)
build/
dist/
*.spec